@model UI.Models.CategoryModel
@{
    ViewBag.Title = "CategoryEkle";
}

<h2>Kategori Düzenleme Sayfası</h2>

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.CategoryId)
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName)<br />
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.CategoryName)<br />
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <br />

        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-danger" />
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}


