@model IEnumerable<UI.Models.CategoryModel>
@{
    ViewBag.Title = "Index";
}

<h2>Kategori Sayfası</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            
            <td>
                <a href="@Url.Action("CategoryEkle","Category",new {id=item.CategoryId})" class="btn btn-success"><i class="glyphicon glyphicon-pencil">EDİT</i></a>
                <a onclick="Sil(@item.CategoryId)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>DELETE</a>

            </td>

        </tr>
    }

</table>

<a href="/Category/CategoryEkle" class="btn btn-info">Yeni Kategori Ekle </a>

@section scripts{
    <script>
        //JQuery kütüphanesini kullanacağımız zaman $ kullanılır.
        $(function () {
            var successMessage = '@TempData["SuccessMesaage"]';
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Sil(id) {
            alertify.confirm('silme işlemi', 'Kayıtı silmek ister misiniz?', function () {
                window.location.href = '@Url.Action("Sil","Category")/' + id;
            }, null);
        }
    </script>
}

